<header>
	<nav>
		<ul>
			{{#each slides}}
			<!-- <li>
					<img src="static/icons/{{icon}}" title="{{name}}" />
					<h3>{{name}}</h3>
				</li> -->
			{{/each}}
		</ul>
	</nav>
</header>
<section>
	<div id="slide-container">
		{{!-- {{> cover}} --}}
		{{> langs}}
		{{> projects}}
	</div>
</section>