& {
    margin: auto;
    padding: 0.75 * $h1-size 0.75 * $h1-size $h1-size 0.75 * $h1-size;

    @include if-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    @include if-mobile-tablet {
        width: $lang-width;
        max-width: 100%;    
        padding: 0.5 * $h1-size 0.25 * $h1-size 0 0.25 * $h1-size;
    }

    h2 {
        @include if-tablet-laptop {
            margin-bottom: 0.125 * $h1-size;
        }
        @include if-mobile {
            margin-bottom: 0.125 * $h1-size;
        }
    }

    ol.career-timeline {
        display: flex;

        @include if-desktop {
            margin-top: 0.25 * $h1-size;
        }

        @include if-mobile-tablet {
            flex-direction: column;
        }

        & > li {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-height: $career-height;
            padding: 0 0.4 * $career-height 0.2 * $career-height 0.4 * $career-height;

            @include if-mobile-tablet {
                flex-direction: row;
                padding: 0 0 0.2 * $career-height 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .career-years {
                font-size: 1.4 * $h3-size;
                color: $acolor;
                opacity: 60%;

                @include if-mobile-tablet {
                    min-width: 80px;
                }
                
                @include if-mobile-tablet {
                    font-size: $h3-size;
                    padding-right: 2 * $spacing;
                    min-width: 90px;
                }
            }

            .career-header {
                position: relative;
                margin-bottom: 1.5 * $spacing;

                h3 {
                    @include if-mobile {
                        font-size: 0.9 * $h3-size;
                    }
                }

                small {
                    color: $acolor;
                    text-transform: uppercase;

                    &.position {
                        display: flex;
                        align-items: center;

                        ul.career-langs {
                            display: none;
                            margin-left: auto;

                            @include if-mobile-tablet {
                                display: flex;
                            }

                            @include if-small-height {
                                display: none;
                            }
                            
                            li {
                                img {
                                    margin: 0 $spacing;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }

                                figcaption {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                a.to-url {
                    position: absolute;
                    fill: $acolor;
                    top: 0;
                    right: 0;
                }
            }

            @include if-desktop {
                .career-body {
                    margin-bottom: 2 * $spacing;
                }
            }

            ul.career-langs {
                display: flex;
                margin-left: auto;

                @include if-mobile-tablet {
                    display: none;
                }

                li {
                    img {
                        margin: 0 $spacing;
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
    }
}
