& {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0.75 * $h1-size 0.75 * $h1-size $h1-size 0.75 * $h1-size;

    @include if-mobile-tablet {
        width: $lang-width;
        max-width: 100%;    
        padding: 0.5 * $h1-size 0.25 * $h1-size 0 0.25 * $h1-size;
    }

    h2 {
        @include if-tablet-laptop {
            margin-bottom: 0.125 * $h1-size;
        }
        @include if-mobile {
            margin-bottom: 0.125 * $h1-size;
        }
    }

    ol.career-timeline {
        counter-reset: career-counter;
        display: flex;

        @include if-desktop {
            margin-top: 0.25 * $h1-size;
        }

        @include if-mobile-tablet {
            flex-direction: column;
        }

        & > li {
            flex: 1;
            counter-increment: career-counter;
            display: block;
            position: relative;
            min-height: $career-height;
            padding: $career-height 0.4 * $career-height 0.2 * $career-height 0.4 * $career-height;

            @include if-mobile-tablet {
                padding: 0 0 0.2 * $career-height $career-height;
            }
            @include if-mobile {
                padding-left: 0.8 * $career-height;
                padding-bottom: 0.15 * $career-height;
            }

            &:last-child {
                padding-bottom: 0;
            }

            @include if-mobile-tablet {
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-color: $fgcolor;
                    top: 0;
                    left: 0.5 * $career-circle;
                    width: 2px;
                    height: 100%;
                    transform: translateX(-50%);

                    @include if-mobile {
                        top: 0.1 * $career-height;
                        left: 0.5 * 0.8 * $career-circle;
                    }
                }
            }

            &:last-child {
                &::before {
                    @include if-desktop {
                        width: $career-circle;
                    }

                    @include if-mobile-tablet {
                        height: $career-circle;
                    }

                    @include if-mobile {
                        height: 0.8 * $career-circle;
                    }
                }
            }

            &::after {
                content: counter(career-counter);
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0.4 * $career-height;
                border-radius: $career-circle;
                background-color: $fgcolor;
                color: $bgcolor;
                font-size: 0.5 * $career-circle;
                line-height: $career-circle;
                width: $career-circle;
                height: $career-circle;
                text-align: center;

                @include if-mobile-tablet {
                    top: 0;
                    left: 0;
                }
                
                @include if-mobile {
                    top: 0.1 * $career-height;
                    font-size: 0.5 * 0.8 * $career-circle;
                    line-height: 0.8 * $career-circle;
                    width: 0.8 * $career-circle;
                    height: 0.8 * $career-circle;
                }
            }

            .career-header {
                position: relative;
                margin-bottom: 1.5 * $spacing;

                h3 {
                    @include if-mobile {
                        font-size: 0.9 * $h3-size;
                    }
                }

                small {
                    color: $acolor;
                    text-transform: uppercase;

                    .years-position {
                        display: none;

                        @include if-small-height {
                            display: inline;
                        }
                    }

                    &.position {
                        display: flex;
                        align-items: center;

                        @include if-small-height {
                            display: none;
                        }

                        ul.career-langs {
                            display: none;
                            margin-left: auto;

                            @include if-mobile-tablet {
                                display: flex;
                            }
                            
                            li {
                                img {
                                    margin: 0 $spacing;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                }

                                figcaption {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                a.to-url {
                    position: absolute;
                    fill: $acolor;
                    top: 0;
                    right: 0;
                }
            }

            .career-body {
                margin-bottom: 2 * $spacing;
            }

            ul.career-langs {
                display: flex;
                margin-left: auto;

                @include if-mobile-tablet {
                    display: none;
                }

                li {
                    img {
                        margin: 0 $spacing;
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
    }
}
