@use 'variables' as *;
@use 'mixins' as *;

@use 'langblob';

@mixin langs {
    h2 {
        position: relative;
        top: 50vh;
        margin: 0;
        transition: $trans-short;
        margin-top: -0.5 * $img-size;
    }
    ul {
        @include langblob.langblob;
    }
    &.is-active {
        h2 {
            transform: translateY(-$lang-radius * 0.75);
            transition: $trans-short;
        }
        ul {
            li.lang-blob:not(.is-active) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}