@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

$bgcolor: #060606;
$fgcolor: #dddddd;
$header-height: 200px;
$header-items: 3;
$img-size: 50px;
$spacing: 5px;
$trans-short: 0.3s;
$trans-long: 0.8s;
$h1-size: 8rem;
$lang-width: 480px;
$lang-radius: 300px;
$card-width:400px;
$card-height:3/4*$card-width;

body{
	background: $bgcolor url('/real-carbon-fibre.png');
	color: $fgcolor;
	font-family: 'Slabo 27px';

	ul, ol{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	h1{
		font-size: $h1-size;
		margin-top: -$h1-size/2;
		text-align: center;
		text-shadow: #000000 0px 0px 20px;
	}
	h2{
		font-size: $h1-size/2;
		margin-top: -$h1-size/4;
		text-align: center;
	}
	h3{
		font-size: $h1-size/3.5;
		margin: 0;
	}
	img.icon{
		height:$img-size;
		max-height:$img-size;
		width:auto;
		transition: $trans-short;
	}

	header{
		border-left: none;
		position: fixed;
		left: 0;
		top: 50vh;
		height: $header-height;
		margin-top: -$header-height/2;
		margin-left: 2*$spacing;
		z-index: 99;

		nav{
			height: 100%;

			ul{
				height: 100%;
				display:flex;
				flex-direction: column;
				justify-content: space-around;

				li{
					display:flex;
					align-items: center;

					img{
						height:$img-size;
						max-height:$img-size;
						width:auto;
						margin-right: 2*$spacing;
						transition: $trans-short;
						
						&+h3{
							visibility: hidden;
							opacity: 0;
							transition: $trans-short;
						}
					}

					img:hover{
						transform: scale(1.2);
						transition: $trans-short;
						margin-top: $spacing;
						margin-bottom: $spacing;

						&+h3{
							visibility: visible;
							opacity: 1;
							transition: $trans-short;
						}
					}
				}
			}
		}
	}

	section.ds-parent{
		position: absolute;
		width: 100%;
		height: 100%;
	
		article.slide{
			position: relative;
			// width: 100%;
			// height: 100vh;

			&.cover{

				img{
					height: 100vh;
					width:auto;
				}

				h1{
					box-sizing: border-box;
					position: absolute;
					width:100%;
					top: 50vh;
					padding-left: 15%;
				}
			}

			&.langs{

				h2{
					position: relative;
					top: 50vh;
					margin:0;
					transition: $trans-short;
				}

				ul{
					@import 'langblob';
				}
				
				&.is-active{
					h2{
						transform: translateY(-$lang-radius*0.75);
						transition: $trans-short;
					}
					ul{
						li.lang-blob:not(.is-active){
							opacity: 0;
							visibility: hidden;
						}
					}
				}
			}

			&.projects{
				padding-top: $h1-size;

				ul#slide-projects-list{
					display:flex;
					flex-wrap: wrap;
					justify-content: space-around;

					@import 'projectcard';
				}
			}
		}
	}
}