@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Roboto');
// GENERAL VARIABLES
$bgcolor: #060606;
$selectcolor: #808080;
$fgcolor: #dddddd;
$acolor: #a0a0a0;
$spacing: 0.33rem;
$spacing-big: 1.33rem;
$trans-short: 0.3s;
$trans-long: 0.8s;
$h1-size: 8rem;
$h3-size: 0.28 * $h1-size;
$h1-padding: 15%;
$img-size: 3rem;
$icon-size: 1rem;
$lang-radius: 300px; // TODO: Should be removed, intertwines with js
$lang-width: 480px;
$lang-width-s: 300px;
$card-width: 22.5rem;
$font-header: 'Slabo 27px';
// RESPONSIVELY REDUCE ROOT FONT-SIZE
@media screen and (max-width: 799px) {
    :root {
        font-size: 80%;
    }
}

body {
    background: $bgcolor url('../../static/real-carbon-fibre.png');
    color: $fgcolor;
    font-family: 'Roboto';
    p {
        margin-top: 0;
    }
    ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: $acolor;
        &:visited {
            color: $acolor;
        }
    }
    h1 {
        font-family: $font-header;
        font-size: $h1-size;
        margin-top: -0.5 * $h1-size;
        text-align: center;
        text-shadow: #000000 0px 0px 20px;
    }
    h2 {
        font-family: $font-header;
        font-size: 0.5 * $h1-size;
        margin-top: -0.25 * $h1-size;
        margin-bottom: 0.25 * $h1-size;
        text-align: center;
    }
    h3 {
        font-family: $font-header;
        font-size: $h3-size;
        margin: 0;
    }
    img {
        color: transparent;
    }
    img.icon {
        height: $img-size;
        width: $img-size;
        transition: $trans-short;
    }
    *::selection {
        background-color: $selectcolor;
    }
    *::-moz-selection {
        background-color: $selectcolor;
    }
    section.ds-parent {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        article.slide {
            position: relative; // width: 100%;
            // height: 100vh;
            &.cover {
                img {
                    height: 100vh;
                    width: auto;
                }
                h1 {
                    box-sizing: border-box;
                    position: absolute;
                    width: 100%;
                    top: 50vh;
                    @media screen and (min-width: 980px) {
                        padding-left: $h1-padding;
                    }
                }
            }
            &.langs {
                h2 {
                    position: relative;
                    top: 50vh;
                    margin: 0;
                    transition: $trans-short;
                    margin-top: -0.5 * $img-size;
                }
                ul {
                    @import 'langblob';
                }
                &.is-active {
                    h2 {
                        transform: translateY(
                            -$lang-radius * 0.75
                        ); // TODO: Yikes, confronts with js
                        transition: $trans-short;
                    }
                    ul {
                        li.lang-blob:not(.is-active) {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
            &.projects {
                padding: 0.75 * $h1-size 0.75 * $h1-size 0 0.75 * $h1-size;
                @media screen and (max-width: 799px) {
                    padding: 0.25 * $h1-size 0.25 * $h1-size 0 0.25 * $h1-size;
                }
                h2 {
                    margin-top: 0;
                }
                .ds-parent-inner {
                    @media screen and (max-width: 1199px) {
                        margin: 0;
                        padding: 0;
                        overflow-x: hidden;
                        overflow-y: visible;
                        margin: auto;
                        width: $card-width;
                        height: 0.75 * $card-width;
                    }
                    ul#slide-projects-list {
                        @media screen and (max-width: 1199px) {
                            width: $card-width;
                            height: 0.75 * $card-width;
                        }
                        @media screen and (min-width: 1200px) {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-around;
                        }
                        @import 'projectcard';
                    }
                }
                img.project-switch {
                    @media screen and (min-width: 1200px) {
                        display: none;
                    }
                }
                p {
                    margin: $spacing-big;
                    text-align: center;
                    font-size: 90%;
                    color: $acolor;
                    font-style: italic;
                    display: none;
                    @media screen and (max-width: 1199px) and (min-width: 800px) {
                        &.click-on {
                            display: block;
                        }
                    }
                    @media screen and (max-width: 799px) {
                        &.swipe-on {
                            display: block;
                        }
                    }
                }
            }
            &.contact {
                padding-top: 0.75 * $h1-size;
                margin: auto;
                text-align: center;
                width: $lang-width;
                @media screen and (max-width: 480px) {
                    width: $lang-width-s;
                }
                h2 {
                    margin-top: 0;
                }
                & > div {
                    margin-bottom: $spacing-big;
                }
                input {
                    width: 100%;
                    text-align: center;
                    border-radius: $spacing;
                    padding: $spacing;
                    font-size: 0.2 * $h1-size;
                }
                div.contact-buttons {
                    display: flex;
                    a {
                        flex: 1 0 auto;
                        padding: $spacing;
                        margin: $spacing 0;
                        background-color: $acolor;
                        color: $bgcolor;
                        text-decoration: none;
                        &:hover {
                            background-color: $selectcolor;
                        }
                    }
                }
            }
            img.arrow {
                position: absolute;
                width: $img-size;
                height: $img-size;
                left: 50%;
                margin-left: -0.5 * $img-size;
                cursor: pointer;
                transition: $trans-short;
                opacity: 0.6;

                &.up {
                    top: $spacing-big;
                    &:hover {
                        top: $spacing-big - $spacing;
                        transition: $trans-short;
                        opacity: 1;
                    }
                }
                &.down {
                    bottom: $spacing-big;
                    &:hover {
                        bottom: $spacing-big - $spacing;
                        transition: $trans-short;
                        opacity: 1;
                    }
                }
                &.left {
                    top: 0.5 * $h1-size + 0.5 * $h1-size + 0.25 * $h1-size + 0.5 * 0.75 *
                        $card-width - 0.5 * $img-size;
                    margin-left: -(0.5 * $card-width + $spacing-big) - 0.5 * $img-size;
                    @media screen and (max-width: 359px) {
                        margin-left: -(0.5 * $card-width - $spacing-big) - 0.5 * $img-size;
                    }
                    &:hover {
                        margin-left: -(0.5 * $card-width + $spacing-big + $spacing) - 0.5 * $img-size;
                        @media screen and (max-width: 359px) {
                            margin-left: -(0.5 * $card-width - $spacing-big) - 0.5 * $img-size;
                        }
                        transition: $trans-short;
                        opacity: 1;
                    }
                }
                &.right {
                    top: 0.5 * $h1-size + 0.5 * $h1-size + 0.25 * $h1-size + 0.5 * 0.75 *
                        $card-width - 0.5 * $img-size;
                    margin-left: 0.5 * $card-width + $spacing-big - 0.5 * $img-size;
                    @media screen and (max-width: 359px) {
                        margin-left: 0.5 * $card-width - $spacing-big - 0.5 * $img-size;
                    }
                    &:hover {
                        margin-left: 0.5 * $card-width + $spacing-big + $spacing - 0.5 * $img-size;
                        @media screen and (max-width: 359px) {
                            margin-left: 0.5 * $card-width - $spacing-big - 0.5 * $img-size;
                        }
                        transition: $trans-short;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
