li.lang-blob{
	position: absolute;
	max-width: $img-size;
	transition: $trans-short;
	top: 50vh;
	left: 50%;
	margin-left:-$img-size/2;

	
	img{
		height:$img-size;
		max-height:$img-size;
		width:auto;
		margin-right: 2*$spacing;
	}

	div.lang-title{
		display:flex;
		align-items: center;
		overflow: hidden;
		cursor: pointer;

		img{

		}
		h3{
			margin:0;
			visibility:hidden;
			opacity: 0;
			font-size: 1.8em;
			transition: $trans-short/2 $trans-short;
			white-space: nowrap;
		}
	}
	hr{
		height: 0;
		border-bottom: 1px solid $fgcolor;
	}
	div.lang-description{
		visibility:hidden;
		opacity: 0;
		height: 0;
		transition: $trans-short/2 $trans-short;
		margin-top: 2*$spacing;
		margin-left: $img-size + 2*$spacing;
		overflow: hidden;
		width: $lang-width - ($img-size + 2*$spacing);

		ul.lang-modules{
			display: flex;
			margin-top: 2*$spacing;

			li{

				img{
					margin-left: 2*$spacing;
				}

				div{
					margin-top: $spacing;
					text-align: center;
				}
			}
		}
	}

	&.is-active{
		max-width: $lang-width;
		transform: translate(-$lang-width/2, -$lang-radius/2) !important; //I don't usually do this I swear
		margin-left:0;

		div.lang-title{

			h3{
				visibility:visible;
				opacity: 1;
				transition: $trans-short/2 $trans-short;
			}
		}
		div.lang-description{
			height:auto;
			visibility:visible;
			opacity: 1;
			transition: $trans-short/2 $trans-short;
		}
	}

	&:not(.is-active):hover{
		transform: scale(1.2);
	}
}