<section class="ds-parent">
    <div id="slide-container" class="ds-container">
        <slot />
    </div>
</section>

<script>
    // @ts-ignore
    import DoSlide from 'do-slide';
    const slider = new DoSlide('#slide-container', { activeClass: 'current-slide' });
    Array.from(document.querySelectorAll('img.arrow')).forEach((element) =>
        element.addEventListener('click', () => {
            if (element.classList.contains('down')) slider.next();
            else if (element.classList.contains('up')) slider.prev();
        }),
    );
</script>

<style lang="scss">
    section.ds-parent {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

        article.slide {
            position: relative;
        }
    }
</style>
