<article class="slide contact">
    <h2>Contacts</h2>
    <div class="contact-email">
        <h3>Send me a mail</h3>
        <input name="email" type="text" class="contact-input" id="contact-input-email" value="{{email}}" readonly>
        <div class="contact-buttons">
            <a class="mailto" href="mailto:{{email}}" target="_blank" rel="noopener">Send an email</a>
            <a class="copy" href="#" data-clipboard-target="#contact-input-email">
                Copy to clipboard
            </a>
        </div>
    </div>
    <div class="contact-github">
        <h3>Look at my GitHub repos</h3>
        <input name="github" type="text" class="contact-input" id="contact-input-github" value="{{github}}" readonly>
        <div class="contact-buttons">
            <a class="github-url" href="{{github}}" target="_blank" rel="noopener">Open Github</a>
        </div>
    </div>
    <img class="arrow up" src="/icons/angle-double-up.svg" alt="Up arrow for navigation"/>
</article>