<article class="slide cover">
    <picture>
        <source srcset="/olti.webp" type="image/webp">
        <source srcset="/olti.png" type="image/png">
        <img src="/olti.png" alt="Me in a suit">
    </picture>
    <h1>
        {{name}}
    </h1>
    <img class="arrow down" src="/icons/angle-double-down.svg" alt="Down arrow for navigation"/>
</article>