<article class="slide langs" id="slide-lang">
    <h2 id="slide-lang-title">Skills</h2>
    <ul>
        {{#each languages}} {{> langblob}} {{/each}}
    </ul>
    <img class="arrow up" src="/icons/angle-double-up.svg" alt="Up arrow for navigation"/>
    <img class="arrow down" src="/icons/angle-double-down.svg" alt="Down arrow for navigation"/>
</article>