<article class="slide projects">
	<h2>Projects</h2>
	<ul id="slide-projects-list">
		{{#each projects}}
		{{> projectcard}}
		{{/each}}
	</ul>
	<img class="arrow up" src="/icons/angle-double-up.svg" alt="Up arrow for navigation"/>
	<img class="arrow down" src="/icons/angle-double-down.svg" alt="Down arrow for navigation"/>
</article>