<article class="slide projects">
    <h2>Projects</h2>
    <div class="ds-parent-inner">
        <ul id="slide-projects-list">
            {{#each projects}}
            {{> projectcard}}
            {{/each}}
        </ul>
    </div>
    <p class="click-on">Click on the image for more details</p>
    <p class="swipe-on">Swipe left or right for more, click for details</p>
    <img class="project-switch arrow left" src="/icons/arrow_left.svg" alt="Left arrow to switch projects"/>
    <img class="project-switch arrow right" src="/icons/arrow_right.svg" alt="Right arrow to switch projects"/>
    <img class="arrow up" src="/icons/angle-double-up.svg" alt="Up arrow for navigation"/>
    <img class="arrow down" src="/icons/angle-double-down.svg" alt="Down arrow for navigation"/>
</article>